html {
    background-color: black;
}


h1 {
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
    font-size: 3rem;
    text-transform: uppercase;
}


p {
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
    font-size: 1.5rem;
}

#gif {
    width: 100%;
    border: 1px yellow solid;
}


#container {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}